
.container{
    border: 3px solid #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button{
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    opacity: 0.8;
}

.cancelbtns{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
}

.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar{
    width: 20%;
    border-radius: 50%;
}

.cont{
    padding: 16px;
}

span.psw{
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw{
        display: block;
        float: none;
    }

    .cancelbtn{
        width: 100%;
    }
}

