<div class="container">
    <div class="imgcontainer">
        <img src="assets/imglogo.png" alt="avatar" class="avatar">
    </div>

    <div class="cont">
        <form [formGroup]="myform">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" formControlName="username">

            <label><b>Mobile</b></label>
            <input type="text" placeholder="Enter Mobile Number" formControlName="mobilenumber">


            <button class="button" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="submitForm()">Login</button>
            <label>
                <input type="checkbox" checked="checked"> Remember me
            </label>
        </form>
    </div>

    <div class="cont" style="background-color:#f1f1f1">

        <button type="button" class="cancelbtns">cancel</button>
        <span class="psw"><a href="#">password ?</a></span>
        <span>Signup? <a type="button" style="color: blue;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New
                User</a></span>
    </div>
</div>

<div class="modal fade-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
            <div class="modal-body">
                <div class="containeer" style="box-sizing: border-box;">
                    <form [formGroup]="siginform">
                        <h5>Register User</h5>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label for="name"><b>User Name</b></label>
                        <input type="text" placeholder="Enter User Name" formControlName="username">

                        <label for="email"><b>Email Address</b></label>
                        <input type="text" placeholder="Enter Email" formControlName="email">

                        <label for="number"><b>Phone Number</b></label>
                        <input type="number" placeholder="Enter Contact details" formControlName="phoneNumber">

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" formControlName="password">

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat"
                            formControlName="re-password">

                        <label>
                            <input type="checkbox" checked="checked" name="remember"
                                style="margin-bottom: 15px;">Remember
                            me
                        </label>
                        <p>By creating an account you agree to our<a href="#" style="color: dodgerblue;">Terms &
                                Privacy</a></p>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                <button type="button" class="btn btn-primary" (click)="registerForm()">Signup</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">OTP Verifications</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="otpform">
                <div class="modal-body">
                    <label for="psw-repeat"><b>OTP</b></label>
                    <input type="number" placeholder="Verify with OTP" formControlName="otpvalue">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-success" (click)="submitotp()"> Submit OTP </button>
            </div>
        </div>
    </div>
</div>